.pageWrapper {
  background-color: #f5fff9;
  min-height: 100vh;
}

.monthContainer {
  width: 100%;
  height: 3em;
  position: relative;
  background-color: #66ffcc;
  /*background-color: #0cbfa1;*/
}

.monthArrowBox {
  position: absolute;
  width: 3em;
  height: 3em;
  line-height: 3em;
  top: 0;
  padding: 0 1em;
  background-color: #66ffcc;
  z-index: 10;
}

.monthArrowBox span {
  color: white;
}

.monthArrowBox[side="left"] {
  left: 0;
  text-align: left;
}

.monthArrowBox[side="right"] {
  right: 0;
  text-align: right;
}

.monthWrapper {
  width: 100%;
  padding: 0 3em;
  height: 3em;
  line-height: 3em;
  border: 1px solid #66ffcc;
  overflow: hidden;
}

.monthBoxWrapper {
  width: 4em;
  height: 100%;
  margin: auto;
}

.monthBox {
  height: 100%;
  width: 672px;
  padding: 0;
  margin: 0;
  white-space: nowrap;
  font-size: 0;
}

.month {
  display: inline-block;
  text-align: center;
  font-size: 14px;
  width: 56px;
  color: white;
  position: relative;
  top: -2px;
}

.month.active {
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.dayContainer {
  width: 100%;
  height: 13vw;
  overflow: hidden;
  background-color: white;
  background-color: #88ffcc;
}

.dayWrapper {
  height: 100%;
  width: auto;
  margin: 0;
  padding: 0;
  list-style: none;
  white-space: nowrap;
  font-size: 0px;
}

.dayBox {
  width: 14.5vw;
  height: 13vw;
  line-height: 13vw;
  color: white;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  border: 0.5vw solid #aaffcc;
  border-top: none;
  border-bottom: none;
}

.dayBox.active {
  background-color: #aaffcc;
  font-size: 20px;
  font-weight: bold;
}

.addMealWrapper {
  display: none;
}

.mealWrapper {
  position: relative;
  background-color: white;
  margin-bottom: 10px;
}

.mealInfo {
  width: 100%;
  background-color: #eee;
  height: 3em;
  line-height: 3em;
  padding: 0 1em;
  position: relative;
}

.mealName {
  width: 100%;
  padding-right: 210px;
  font-size: 16px;
}

.cag {
  width: 14em;
  position: absolute;
  right: 1em;
  top: 0em;
  text-align: right;
  color: #ccc;
}

.foodList {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
}

.swipeWrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 7.5em;
}

.swipeBox {
  position: absolute;
  left: 0;
  width: 120vw;
  z-index: 100;
}

.deleteFoodWindow {
  width: 20vw;
  height: 104px;
  background-color: transparent;
  display: block;
}

.deleteFoodBtn {
  width: 20vw;
  height: 104px;
  line-height: 104px;
  background-color: red;
  color: white;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 16px;
  text-align: center;
}

.foodBox {
  width: 100vw;
  position: relative;
  border-bottom: 1px solid #eee;
  padding: 0.5em;
  height: 7.5em;
  background-color: white;
}

.foodBox .foodImg {
  height: 6.5em;
  width: 6.5em;
  position: absolute;
  left: 0.5em;
}

.foodBox .foodInfo {
  width: 100%;
  height: 100%;
  padding-left: 7.5em;
}

.foodName, .foodGi, .foodCalorie {
  height: 1.5em;
  line-height: 1.5em;
}

.foodBox .foodInfo .foodAmount {
  height: 2em;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 6.5em;
}

.foodAmount .addAmountBtn, .foodAmount .minusAmountBtn {
  width: 26px;
  height: 26px;
  line-height: 26px;
  padding: 0;
  border: 0;
  font-weight: normal;
}

.foodAmount .addAmountBtn {
  border-left: 1px solid #ddd;
  border-radius: 0 5px 5px 0;
}

.foodAmount .minusAmountBtn {
  border-right: 1px solid #ddd;
  border-radius: 5px 0 0 5px;
}

.foodAmountVal {
  height: 26px;
  width: 2.6em;
  text-align: center;
  border: 0;
  outline: none;
  padding: 0;
}

.btnsBox {
  width: 100%;
  padding: 0.5em;
  text-align: right;
}

.chooseFoodWrapper {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 200;
  padding: 1em;
}

.chooseFoodBox {
  background-color: white;
  width: 100%;
  height: 100%;
}

.chooseFoodName {
  width: 100%;
  background-color: #66ffcc;
  height: 3em;
  color: white;
  border: 0;
  outline: none;
  padding: 0 1em;
}