{% extends 'exhibit/widgets/base.html' %}

{% block style %}{% endblock %}

{% block page %}
<h1>Food user</h1>
<div class="table-responsive">
  <table class="table">
    <tr>
      <th>#</th>
      <th>类别</th>
      <th>名称</th>
      <th>卡路里</th>
      <th>GI值</th>
      <th>偏好程度</th>
      <th>操作</th>
    </tr>
    {% for food in foods %}
    <tr>
      <td>{{ food.id }}</td>
      <td>{{ food.category }}</td>
      <td>{{ food.name }}</td>
      <td>{{ food.calorie }}</td>
      <td>{{ food.GI }}</td>
      <td>{{ food.preference }}</td>
      <td>
        <a class="removeFoodBtn{% if food.belong_to %}{% else %} hide{% endif %}">移除</a>
        <a class="addFoodBtn{% if food.belong_to %} hide{% endif %}">添加</a>
      </td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript" src="/static/exhibit/js/food_list_user.js"></script>
{% endblock %}
