{% extends 'exhibit/widgets/base.html' %}

{% block style %}
<link type="text/css" rel="stylesheet" href="/static/exhibit/css/meal_list.css">
{% endblock %}

{% block page %}
<div class="chooseFoodWrapper">
  <div class="chooseFoodBox">
    <input class="chooseFoodName" placeholder="请输入食物名称" />
    <div class="chooseFoodResultBox"></div>
  </div>
</div>
<div class="metaInfo" year="{{ year }}" month="{{ month }}" day="{{ day }}"></div>
<div class="monthContainer">
  <div class="monthArrowBox" side="left"><span class="glyphicon glyphicon-chevron-left"></span></div>
  <div class="monthArrowBox" side="right"><span class="glyphicon glyphicon-chevron-right"></span></div>
  <div class="monthWrapper">
    <div class="monthBoxWrapper">
      <div class="monthBox">
        <div class="month" value="1">Jan</div>
        <div class="month" value="2">Feb</div>
        <div class="month" value="3">Mar</div>
        <div class="month" value="4">Apr</div>
        <div class="month" value="5">May</div>
        <div class="month" value="6">Jun</div>
        <div class="month" value="7">Jul</div>
        <div class="month" value="8">Aug</div>
        <div class="month" value="9">Sep</div>
        <div class="month" value="10">Oct</div>
        <div class="month" value="11">Nov</div>
        <div class="month" value="12">Dec</div>
      </div>
    </div>
  </div>
</div>
<div class="dayContainer">
  <ul class="dayWrapper">
  </ul>
</div>

<div class="addMealWrapper" role="form">
  <div class="form-group">
    <label for="food_types">食物类别</label>
    <input type="text" class="form-control" id="food_types" name="food_types" placeholder="碳水主食, 动物蛋白">
  </div>
  <div class="form-group">
    <label for="name">餐名</label>
    <input type="text" class="form-control" id="name" name="name" value="未定义">
  </div>
  <div class="form-group">
    <label for="fids">食材列表</label>
    <input type="text" class="form-control" id="fids" name="fids">
  </div>
  <a class="btn btn-default randomAddBtn">随机生成一餐</a>
  <a class="btn btn-default exactAddBtn">生成一餐</a>
</div>

{% for meal in meals %}
<div class="mealWrapper" mid="{{ meal.id }}">
  <div class="mealInfo">
    <div class="mealName">
      {{ meal.name }}
    </div>
    <div class="cag">
      共{{ meal.calorie }}卡，GI值为{{ meal.GI }}
    </div>
  </div>
  <div class="foodList">
    {% for rs in meal.rs_food_amount_set.all %}
    <div class="swipeWrapper">
      <div class="swipeBox">
        <div class="foodBox left" fid="{{ rs.food.id }}">
          <div class="thumbImg foodImg"></div>
          <div class="foodInfo">
            <div class="foodName">名称：&nbsp;&nbsp;&nbsp;&nbsp;{{ rs.food.name }}</div>
            <div class="foodCalorie">卡路里：{{ rs.food.calorie }}</div>
            <div class="foodGI">GI值：&nbsp;&nbsp;&nbsp;&nbsp;{{ rs.food.GI }}</div>
            <div class="foodAmount">
              <div class="minusAmountBtn btn left" diff="-5">-</div>
              <input class="left foodAmountVal" type="number" min="0" value="{{ rs.amount }}" />
              <div class="addAmountBtn btn right" diff="5">+</div>
              <div class="clear"></div>
            </div>
          </div>
        </div>
        <a class="deleteFoodWindow left"></a>
        <div class="clear"></div>
      </div>
      <div class="deleteFoodBtn">删除</div>
    </div>
    {% endfor %}
    <div class="btnsBox">
      <button class="deleteMealBtn btn btn-sm btn-default">删除</button>
      <button class="addFoodBtn btn btn-sm btn-default">添加</button>
      <button class="updateMealBtn btn btn-sm btn-default">保存</button>
      <div class="clear"></div>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}

{% block script %}
<script type="text/javascript" src="/static/plugin/iscroll/iscroll.js"></script>
<script type="text/javascript" src="/static/exhibit/js/meal_list.js"></script>
{% endblock %}